<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337118688361-nrk04tbkrb7roo6fe0sbulnv4nqi5at2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337118688361-nrk04tbkrb7roo6fe0sbulnv4nqi5at2</string>
	<key>API_KEY</key>
	<string>AIzaSyBPkhaG06f7GfHCu0vX7hLA9RgkkeLHb1I</string>
	<key>GCM_SENDER_ID</key>
	<string>337118688361</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hts.buddygram</string>
	<key>PROJECT_ID</key>
	<string>htsbuddygram</string>
	<key>STORAGE_BUCKET</key>
	<string>htsbuddygram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337118688361:ios:09c2ed853fdfb795fb9ef8</string>
</dict>
</plist>